/.vs
src/.vs
src/bin
src/obj
src/Yuniql.csproj.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/launchSettings.json
src/Properties/PublishProfiles/FolderProfile.pubxml
/tests/bin
/tests/obj
/tests/.vs

baseliner/.vs
baseliner/bin
baseliner/obj
baseliner/Baseliner.csproj.user
baseliner/Properties/PublishProfiles/FolderProfile.pubxml.user
baseliner/Properties/launchSettings.json
baseliner/Properties/PublishProfiles/FolderProfile.pubxml
/yuniql-tests/obj
/yuniql-tests/bin/Debug/netcoreapp3.0
/yuniql-tests/.vs
/yuniql-sqlserver/obj
/yuniql-sqlserver/bin
/yuniql-extensibility/obj
/yuniql-extensibility/bin
/yuniql-core/obj
/yuniql-core/bin
/yuniql-cli/obj
/yuniql-cli/bin
/yuniql-plugins/postgresql/src/.vs/Yuniql.PostgreSQL
/yuniql-plugins/postgresql/src/bin
/yuniql-plugins/postgresql/src/obj
