
.vscode
**/.vscode

.vs
**/.vs

.idea
**/.idea

nupkgs
**/nupkgs

bin
**/bin

obj
**/obj

.plugins
**/plugins

*.nupkg

src/.vs
src/bin
src/obj
src/Yuniql.csproj.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/launchSettings.json
src/Properties/PublishProfiles/FolderProfile.pubxml
/tests/binnupkl
/tests/obj
/tests/.vs

baseliner/.vs
baseliner/bin
baseliner/obj
baseliner/Baseliner.csproj.user
baseliner/Properties/PublishProfiles/FolderProfile.pubxml.user
baseliner/Properties/launchSettings.json
baseliner/Properties/PublishProfiles/FolderProfile.pubxml
/yuniql-tests/obj
/yuniql-tests/bin/Debug/net6.0
/yuniql-tests/.vs
/yuniql-sqlserver/obj
/yuniql-sqlserver/bin
/yuniql-extensibility/obj
/yuniql-extensibility/bin
/yuniql-core/obj
/yuniql-core/bin
/yuniql-cli/obj
/yuniql-cli/bin
/yuniql-plugins/postgresql/src/.vs/Yuniql.PostgreSQL
/yuniql-plugins/postgresql/src/bin
/yuniql-plugins/postgresql/src/obj
/yuniql-plugins/postgresql/Yuniql.PosgreSQL.Tests/bin
/yuniql-plugins/postgresql/Yuniql.PosgreSQL.Tests/obj
/yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQL
/yuniql-plugins/postgresql/tests/bin
/yuniql-plugins/postgresql/tests/obj
yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQLx/v16/.suo
yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQLx/v16/Server/sqlite3/db.lock
yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQLx/v16/Server/sqlite3/storage.ide
yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQLx/v16/Server/sqlite3/storage.ide-shm
yuniql-plugins/postgresql/.vs/Yuniql.PostgreSQLx/v16/Server/sqlite3/storage.ide-wal
/yuniql-unittests/bin/Debug/net6.0
/yuniql-unittests/obj
/yuniql-platformtests/.vs
/yuniql-platformtests/bin/Debug/net6.0
/yuniql-platformtests/obj
/yuniql-core/nupkgs
/yuniql-extensibility/nupkgs

/yuniql-plugins/mysql/src/.vs/Yuniql.PostgreSQL
/yuniql-plugins/mysql/src/bin
/yuniql-plugins/mysql/src/obj
/yuniql-plugins/mysql/tests/bin
/yuniql-plugins/mysql/tests/obj
/yuniql-plugins/mysql/tests/Yuniql.PosgreSql.Tests.csproj.user
/yuniql-plugins/postgresql/.vs/Yuniql.MySql/v16
/yuniql-plugins/mysql/.vs/Yuniql.MySql
samples/aspnetcore-sample/aspnetcore-sample.csproj.user
yuniql-platformtests/Yuniql.PlatformTests.csproj.user
yuniql-sqlserver/Yuniql.SqlServer.csproj.user
build-nupkgs.bat
yuniql-cli/Yuniql.CLI.csproj.user
yuniql-core/Yuniql.Core.xml
yuniql-extensibility/Yuniql.Extensibility.xml
yuniql-platforms/mysql/Yuniql.MySql.xml
yuniql-platforms/postgresql/Yuniql.PostgreSql.xml
yuniql-platforms/sqlserver/Yuniql.SqlServer.xml
yuniql-core/Yuniql.Core.xml
yuniql-extensibility/Yuniql.Extensibility.xml
yuniql-platforms/mysql/Yuniql.MySql.xml
yuniql-platforms/postgresql/Yuniql.PostgreSql.xml
yuniql-platforms/sqlserver/Yuniql.SqlServer.xml
