/.vs
src/.vs
src/bin
src/obj
src/Yuniql.csproj.user
src/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Properties/launchSettings.json
src/Properties/PublishProfiles/FolderProfile.pubxml
/tests/bin
/tests/obj
/tests/.vs

baseliner/.vs
baseliner/bin
baseliner/obj
baseliner/Baseliner.csproj.user
baseliner/Properties/PublishProfiles/FolderProfile.pubxml.user
baseliner/Properties/launchSettings.json
baseliner/Properties/PublishProfiles/FolderProfile.pubxml
